body {

    /* save this color, it works well with orane Courier font */
    background-color: rgb(15, 13, 27);

    font-family: Arial, Helvetica, sans-serif, Courier, monospace;

    color: orange;

    display: flex;

    align-content: center;

    align-items: center;

    text-align: center;



}

canvas {

    background-color: none;
    border-radius: 16px;
    border: 1px solid orange;
    height: 512;
    width: 512;

}

button {

    background-color: orange;
    border-radius: 4px;
    border: none;
    padding: 7px;
    cursor: pointer;
    
}

button.blue {

    background-color: aqua;

}