/*

    Syntax reference:

    body { }

    .A { params: ... } <- means element with class="A", sitting inside of <body></body>
    #B { params: ... } <- means element with id="B" that's also inside of <body></body>


*/


body {

    /* save this color, it works well with orange Courier font */
    background-color: rgb(15, 13, 27);

    font-family: Arial, Helvetica, sans-serif, Courier, monospace;

    color: orange;

    margin: 0px;

}

.header {

    text-align: center;

    color: orange;

}

#debugHeader {

    color: greenyellow;

}

/* GRAPHICAL ELEMENTS (NODES, EDGES ETC.) BELOW */

.canvas {


    text-align: center;
    margin: 0px;

}

#nodeGraphCanvas {

    border-radius: 16px;
    border: 1px solid orange;

}

/* CONTROL ELEMENTS (COUNTS, PARAMETERS ETC.) BELOW */

.controls {

    text-align: center;
    margin: auto;

}

#nodeGenButton {

    cursor: pointer;
    width: 128px;
    padding: 8px;
    text-align: center;
    background-color: orange;
    border-radius: 4px;
    border: none;

}

#evalACOButton {

    cursor: pointer;
    width: 128px;
    padding: 8px;
    text-align: center;
    background-color: mediumaquamarine;
    border-radius: 4px;
    border: none;

}

#nodeRstButton {

    cursor: pointer;
    width: 128px;
    padding: 8px;
    text-align: center;
    background-color: salmon;
    border-radius: 4px;
    border: none;

}

#clrPlotButton {

    cursor: pointer;
    width: 128px;
    padding: 8px;
    text-align: center;
    background-color: salmon;
    border-radius: 4px;
    border: none;    

}

.results {

    text-align: center;
    margin: auto;

}

#acoResultPlot {

    border-radius: 16px;
    border: 1px solid orange;

}